<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".orther_handle.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:roundIcon="@mipmap/ic_app_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.UI.IntroActivity"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.ListOrdersHistory"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.ListAddressActicity"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.ReviewActivity"
            android:exported="false"
            android:parentActivityName=".view.UI.DetailOrderActicity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.DetailOrderActicity"
            android:exported="false"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.EditAddressActivity"
            android:exported="true"
            android:parentActivityName=".view.UI.PayMentActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.PayMentActivity"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.ProductActivity"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.SearchActivity"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.DetailProductActivity"
            android:exported="true"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.DetailProfile_Activity"
            android:exported="false"
            android:parentActivityName=".view.UI.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.MainActivity"
            android:exported="true">

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.UI.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/ThemeSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>